@using MOCI.Core.Entities
@model FINHUB_REVENUE_HEADER

<form id="formMapped" style="margin:5px">
    <h2>Please fill the text boxes</h2>
    @foreach (var item in ViewData.ModelMetadata.Properties)
    {
        <div class="row mt-3 group">
            <div class="col-md-2">
                @Html.Label(item.PropertyName)
            </div>
            <div class="col-md-2">
                @Html.Editor( item.PropertyName,
            null,new { htmlAttributes = new { @class = "form-control", @required="required" } } )
            </div>
        </div>
    }

    <div class="row mt-3">
        <div class="col-md-2">
              @Html.Label("serviceName")
        </div>
        <div class="col-md-2">
            <select class="form-control drb-details">
                <option value="">Select</option>
                @foreach (var service in ViewBag.Services)

                {
                    <option>@service</option>
                }

            </select>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <select data-parsley-required class="form-control drb-details">
                <option value="">Select</option>
                @foreach (var ledger in ViewBag.Ledgers)

                {
                    <option>@ledger</option>
                }

            </select>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <select data-parsley-required class="form-control drb-details">
                <option value="">Select</option>
                @foreach (var service in ViewBag.Departments)

                {
                    <option>@service</option>
                }
            </select>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <input type="submit" style="width:100%" value="Submit" class="btn btn-primary" id="btnSubmit" />
        </div>
    </div>
</form>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<!-- Select2 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/flatly/bootstrap.min.css">
<link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<link rel="stylesheet" href="http://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css">
<script src="http://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>
